-e hg+https://bitbucket.org/wkornewald/django-nonrel@be48c152abc6b15e45155e2bbcfd69c665ccb536#egg=Django-dev
amqp==1.0.11
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.28
celery==3.0.19
celery-with-redis==3.0
django-celery==3.0.17
django-model-utils==1.1.0
-e git://github.com/django-nonrel/mongodb-engine.git@52257b5d90dcfaa564e708264a9cfe591d301fe6#egg=django_mongodb_engine-dev
django-tastypie==0.9.15
-e hg+ssh://hg@bitbucket.org/wkornewald/djangotoolbox@a8cdf61ba9c0cdc7cbbbd37d693e9a222d9a8e5f#egg=djangotoolbox-dev
kombu==2.5.10
mimeparse==0.1.3
msgpack-python==0.3.0
pymongo==2.5
python-dateutil==1.5
pytz==2013b
pyzmq==2.2.0.1
redis==2.7.4
sphinx-me==0.1.2
zerorpc==0.4.1
